<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495835448657-s2m9hm41im210ffdbfii90453ej1b8a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495835448657-s2m9hm41im210ffdbfii90453ej1b8a2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>495835448657-b2hs26th15cnjgcq6047f00o7k1liofc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFXj6AFmIL2_f1bW5RNrGUuGdPZLadt64</string>
	<key>GCM_SENDER_ID</key>
	<string>495835448657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.warshtcomnew</string>
	<key>PROJECT_ID</key>
	<string>warshtcomnew</string>
	<key>STORAGE_BUCKET</key>
	<string>warshtcomnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495835448657:ios:28a5ba943074524d4d3f70</string>
</dict>
</plist>